ul{
  margin: 0;
  padding: 0;
}

body {
  background-color: #14181c;
}

h1 {
  color: #abc;
  margin: 0;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 0 0 20px 0;
}

input {
  height: 32px;
  width: 60%;
  border-radius: 10px;
  border-color: #abc;
  background-color: #abc;
}

input::placeholder {
  text-align: center;
  color: black;
  font-size: 16px;
}

h2 {
  color: #abc;
}

h4 {
  color: #abc;
  margin: 0;
}

p {
  color: #abc;
  margin: 0;
}

.content {
  margin: 40px 400px 0px 400px;
}

.separator {
  height: 1px;
  background-color: #abc;
  margin: 5px 0px 10px 0px;
}

/* Header */

header {
  background-color: #abc;
  width: 100%;
  height: 70px;
}

nav {
  padding: 10px 400px;
}

/* MovieStart */

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-item {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-item img {
  width: 100%;
  border-radius: 5px;
}

.movie-item h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* MovieDetail */

.movie-detail-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.movie-poster {
  margin-right: 20px; /* Espace entre l'affiche et les détails */
}

.movie-poster img {
  max-width: 100%; /* Pour que l'image s'adapte à la taille de son conteneur */
}

/* Pour assurer que les détails occupent tout l'espace disponible */
.movie-details {
  flex-grow: 1;
}

.movie-details p {
  margin: 0 0 10px 0;
}


.movie-detail-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.movie-detail-container .credit-item {
  display: flex;
  align-items: center;
}

.movie-detail-container .credit-item img {
  max-width: 80px;
  height: auto;
  margin-right: 20px;
}

.movie-detail-container .credit-item p {
  margin: 0;
}

.movie-detail-container h2 {
  margin-top: 20px;
}

.movie-detail-container .credits-carousel {
  overflow-x: auto;
  white-space: nowrap;
}

.movie-detail-container .credits-carousel li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  max-width: 200px;
}

.movie-detail-container .credits-carousel li img {
  max-width: 100%;
  height: auto;
}

.credits-carousel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.credits-carousel div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.credits-carousel div img {
  max-width: 100%;
  height: auto;
}