ul{
  margin: 0;
  padding: 0;
}

body {
  background-color: #14181c;
}

h1 {
  color: #abc;
  margin: 0;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 0;
  width: 100%;
}

input {
  height: 32px;
  width: 60%; 
  border-radius: 10px;
  border: 2px solid #abc; 
  background-color: #f0f0f0; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out; 
  font-size: 16px; 
  color: #333; 
}

input:hover {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

input::placeholder {
  text-align: center;
  color: #aaa; 
}

h2 {
  color: #abc;
}

h4 {
  color: #abc;
  margin: 0;
}

p {
  color: #abc;
  margin: 0;
}

.content {
  margin: 40px 200px 0px 200px;
}

.separator {
  height: 1px;
  background-color: #abc;
  margin: 5px 0px 10px 0px;
}

.error-style {
  color: #fff;
}

/* Header */

header {
  background-color: #abc;
  width: 100%;
  height: 70px;
}

nav {
  padding: 10px 200px;
}

/* MovieStart */

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 60px;
}

.movie-item {
  border-radius: 5px;
}

.movie-item img {
  width: 100%;
  border-radius: 5px;
}

.movie-item h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

/* MovieDetail */

.movie-item-similar {
  border-radius: 5px;
}

.movie-item-similar img {
  width: 100%;
  border-radius: 5px;
}

.movie-detail-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
}

.movie-poster {
  margin-right: 20px;
}

.movie-poster img {
  max-width: 100%;
}


.movie-details {
  flex-grow: 1; /* Pour assurer que les infos occupent tout l'espace disponible */
}

.movie-details p {
  margin: 0 0 10px 0;
}


.movie-detail-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.movie-detail-container .credit-item {
  display: flex;
  align-items: center;
}

.movie-detail-container .credit-item img {
  max-width: 80px;
  height: auto;
  margin-right: 20px;
}

.movie-detail-container .credit-item p {
  margin: 0;
}

.movie-detail-container h2 {
  margin-top: 20px;
}

.movie-detail-container .credits-carousel {
  overflow-x: auto;
  white-space: nowrap;
}

.movie-detail-container .credits-carousel li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  max-width: 200px;
}

.movie-detail-container .credits-carousel li img {
  max-width: 100%;
  height: auto;
}

.credits-carousel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 0 0 20px 0;
}

.button-credits {
  background-color: #abc;
}

.button-credits:hover {
  background-color: #fff;
}

.credits-carousel div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.credits-carousel div img {
  max-width: 100%;
  height: auto;
}

.reviews-h2 {
  margin: 0;
}

.review-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px 0 0;
  object-fit: cover;
}

.content-review {
  display: flex;
  flex-direction: column;
}

.reviews-container {
  margin: 0;
}

div.reviews {
  display: flex;
  margin: 0 0 20px 0;
}

.random-movie {
  display: flex;
  align-items: center;
  margin: 0 0 60px 0;
}

.random-picture {
  width: 250px;
  height: 375px;
  margin: 0 20px 0 0;
}

.random-content p {
  text-align: center;
}

.random-content h1 {
  text-align: center;
  margin-bottom: 10px;
}

/* Hover affiche */
.movie-item {
  position: relative;
  overflow: hidden;
}

.movie-item img {
  width: 100%;
  height: auto;
  transition: filter 0.3s ease;
}

.movie-item:hover img {
  filter: blur(3px);
}

.movie-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(3px);
}

.movie-info h2,
.movie-info p {
  margin: 0;
  white-space: normal;
  word-wrap: break-word;
  max-width: calc(100% - 40px);
}

.movie-item:hover .movie-info {
  opacity: 1;
}

.movie-item p {
  color: #fff;
}